/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

*,*:before,*:after{
    box-sizing: border-box;
}



/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;

    line-height: 1.5;

}

a{
    color: inherit;
    text-decoration: none;
}


/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

.menu{
    position: fixed;
    width: 25%;
    height: 100vh;

    background: #181818;
}

main{
    padding-left: 35%;
    padding-right: 10%;
    padding-top: 30px;
}










